.kcHtmlClass {
    border-top-width: 20px;
    border-top-style: solid;
    border-top-color: #651fff;
    background: url("https://raw.githubusercontent.com/eliatra-opensearch-enterprise-distro/meod-assets/refs/heads/main/img/Eliatra_logo.svg") no-repeat;
    background-size: 100px;
    background-position: left 20px top 20px;
}

.login-pf body {
    background-image: url("https://raw.githubusercontent.com/eliatra-opensearch-enterprise-distro/meod-assets/refs/heads/main/img/Eliatra_background.svg") ;
}

.pf-c-button.pf-m-primary {
    background-color: #651fff;
}

.pf-c-button.pf-m-primary:disabled {
    background-color: lightgray;
}


.card-pf {
    border-color: #651fff;
}

.kcHeaderWrapperClass {
    content-visibility: hidden;
    background: url("https://raw.githubusercontent.com/eliatra-opensearch-enterprise-distro/meod-assets/refs/heads/main/img/meod_logo_light.svg") no-repeat center;
}